<h1 style="font-size: 3em;">Dancing with Death</h1>
<h2 class="text-center">My date </h2>

<form onsubmit="event.preventDefault();">
    <div class="form-group row w-50 mx-auto mb-5">
        <div class="form-group col-12 col-sm-6">
            <label class="mb-2">First name</label>
            <input id="firstName" class="form-control mx-auto mb-3" value='{{firstName}}' disabled />

        </div>
        <div class="form-group col-12 col-sm-6">
            <label class="mb-2">Last name</label>
            <input id="lastName" class="form-control mx-auto mb-3" value='{{lastName}}' disabled />
        </div>
        <div class="form-group col-12 col-sm-6">
            <label class="mb-2">Email address</label>
            <input id="email" class="form-control mx-auto mb-3" value='{{email}}' disabled />
        </div>
        <div class="form-group col-12 col-sm-6">
            <label class="mb-2">Phone</label>
            <input id="phone" class="form-control mx-auto mb-3" value='{{phone}}' disabled />

        </div>
        <div class="form-group col-12 col-sm-6">
            <label class="mb-2">Date</label>
            <input data-toggle="tooltip" data-placement="top" title="Please, change the date first to see the hours available"  type="date" id="day" name="day" class="appointment form-control mx-auto mb-3" value='{{date}}' />
        </div>
        <div class="form-group col-12 col-sm-6">
            <label class="mb-2">Hours</label>
            <select id="hour" name="hour" class="appointment form-control mx-auto mb-3">
                <option> {{hour}} <== Your scheduled hour</option>
            </select>
        </div>
    </div>
    <button class="btn btn-info mb-3 text-light btn-outline-light" onclick="update()"><a>Update</a></button>
    <button class="btn btn-danger mb-3 text-light btn-outline-light" onclick="remove()"><a>Delete</a></button>
</form>

<button class="btn btn-info mb-3 text-light btn-light bg-dark btn-outline-light btn-sm" ><a href="/">Home</a></button>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip({placement: 'bottom',trigger: 'manual'}).tooltip('show');
    });
    
    {{> Functions }}

    $('#day').change(async () => {
        $('[data-toggle="tooltip"]').tooltip('hide');
        const day = $('#day').val();
        const payload = { day }
        const { data } = await axios.post('/hours', payload);
        const disableArray = data.notAvailable
        const availableArray = ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00']
        $('#hour').empty()
        $('#hour').append(`<option> Select an hour </option>`)
        availableArray.forEach(hour => {
            if (disableArray.includes(hour)) {
                $('#hour').append(`<option disabled> ${hour} </option>`)
            } else {
                $('#hour').append(`<option> ${hour} </option>`)
            }
        })
    })  

    const update = async () => {
        const firstName = $('#firstName').val();
        const lastName = $('#lastName').val();
        const email = $('#email').val();
        const phone = $('#phone').val();
        const day = $('#day').val();
        const hour = $('#hour').val();

        const payload = {
            firstName,
            lastName,
            email,
            phone,
            day,
            hour
        };

        if (day == '') {
            alert('Please enter a date');
        } else if (day == '{{date}}' && hour == '{{hour}} <== Your scheduled time') {
            alert('This is your current appointment, please select another date and hour');
        } else if(hour == 'Select an hour'){
            alert('Please select an hour');
        } else {
            try {
                const { data } = await axios.put('/update', payload);
                if (data.error) alert(data.error);
                else alert(data.success);
                window.location.href = '/';
            } catch ({ response }) {
                const { data } = response
                const { error } = data
                alert(error)
            }
        }
    }

    const remove = async () => {
        const email = '{{email}}';
        try {
            const { data } = await axios.delete(`/delete/${email}`);
            if (data.error) alert(data.error);
            else alert(data.success);
            window.location.href = '/';
        } catch ({ response }) {
            alert(response.data.message);
        }
    }
</script>